<h1>Listing taxons</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxons.each do |taxon| %>
  <tr>
    <td><%= taxon.user %></td>
    <td><%= taxon.name %></td>
    <td><%= link_to 'Show', taxon %></td>
    <td><%= link_to 'Edit', edit_taxon_path(taxon) %></td>
    <td><%= link_to 'Destroy', taxon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxon', new_taxon_path %>
