<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @taxon.user %>
</p>

<p>
  <b>Name:</b>
  <%= @taxon.name %>
</p>


<%= link_to 'Edit', edit_taxon_path(@taxon) %> |
<%= link_to 'Back', taxons_path %>
