<div class="row-fluid">
	<div class="span3">
		<%=image_tag("las_vegas_girl_agelessfx_199x300.jpg",class:"img-circle")%>
	</div>
	<div class="span9">
		<h3 class="text-error">Join Our Affiliate Program</h3>
		<p class="lead text-info">
			Obtain great earnings with the broad range of services we offer in our New Affiliate Program.
		</p>
		<p class="lead text-success">
			It’s as easy as signing up and in a matter of minutes you can start generating your first earnings.
		</p>
		<center>
			<%= link_to "Sign Up Now!", new_registration_path(:user),html_options={:class=>"btn btn-large btn-warning"} %>
		</center>
		<br><br>
		<div class="row-fluid">
			<div class="span3">
				<div class="well">
					<h5><i class="icon-retweet"></i> Great Conversion!</h5>
					<p>Our promotions are really attractive taking Dobet to one of the highest conversion ratio for the sport betting market.</p>
					<%= link_to "Apply Now!", new_registration_path(:user),html_options={:class=>"btn btn-mini btn-inverse"} %>
				</div>
			</div>
			<div class="span3">
				<div class="well">
					<h5><i class="icon-money"></i> Fast Payments!</h5>
					<p>Our payment process is extremely easy what allows us to have the fastest payment process of the market.</p>
					<%= link_to "Apply Now!", new_registration_path(:user),html_options={:class=>"btn btn-mini btn-inverse"} %>
				</div>
			</div>
			<div class="span3">
				<div class="well">
					<h5><i class="icon-group"></i> Great Team!</h5>
					<p>Deep experience developing affiliates program in the betting industry and fully oriented to advise our affiliates.</p>
					<%= link_to "Apply Now!", new_registration_path(:user),html_options={:class=>"btn btn-mini btn-inverse"} %>
				</div>
			</div>
		</div>
	</div>
</div>
