<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Nimrod Affiliates" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Nimrod Affiliates</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
            	<li><%= link_to "About", public_about_path  %></li>
              <li><%= link_to "Contact", public_contact_path  %></li>
            <%if !user_signed_in? %>              
              <li><%= link_to "Sign up", new_registration_path(:user) %></li>
              <li><%= link_to "Sign in", new_session_path(:user) %><li>
             <% else %>
             <li><%= link_to('Sign Out',destroy_user_session_path,:method=>:delete)%></li>
             <% end %> 
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
      	<%if user_signed_in? %>  
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tools</li>
              <li><a href="<%=manager_dashboard_path%>#dashboard" class="btn btn-link"><i class="icon-dashboard"></i> Dashboard</a></li>
              <li><a href="<%=manager_dashboard_path%>#signups" class="btn btn-link"><i class="icon-group"></i> Sign Ups &nbsp;</a></li>
              <li><a href="<%=manager_dashboard_path%>#revenues" class="btn btn-link"><i class="icon-money"></i> Revenues </a></li>
              <li><a href="<%=manager_dashboard_path%>#taxons" class="btn btn-link"><i class="icon-tasks"></i> Taxonomy</a></li>
              <li><a href="<%=manager_dashboard_path%>#mediakit" class="btn btn-link"><i class="icon-picture"></i> Media Kit </a></li>
              <li><a href="<%=edit_user_registration_path%>" class="btn btn-link"><i class="icon-user"></i> Account &nbsp;</a></li>
            </ul>
          </div><!--/.well -->
          </div><!--/span-->
        	<div id="stageHall" class="span9">
          	<%= bootstrap_flash %>
          	<%= yield %>
        	</div>
          <% else %>
          <%= bootstrap_flash %>
          	<%= yield %>
          <% end %>
        
      </div><!--/row-->

      <footer>
        <p align="center"><h5 align="center"><span class="label">&copy; Nimrod Affiliates 2013</span></h5></p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
